.container{
    background-color: #FFF;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid #000;
    border-radius: 10px;    
    box-shadow: 3px 3px 5px 3px #dddddd;
    padding: 30px 20px;
    margin: 10px 20px;
    cursor: pointer;
}

.container:hover{
    border:2px solid #00b90f;
    color: #00b90f;
    margin: 9px 19px; /* to compensate the increase in border width*/
}

.container img{
    width: 150px;
}

.container span{
    margin-top: 1em;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase; 
}

/* styles for a card in small size (for menus/navbar) */
.small{
    flex-direction: row;
    border: none;  
    box-shadow: none;
    padding: 0;
    margin: 0 20px;
}

.small:hover{
    border:none;
    margin: 0 20px;
}

.small img{
    width: 40px;
}

.small span{
    margin: 0 0 0 5px;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase; 
}